:root {}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.my-container {
    max-width: 1200px;
    width: 100%;
    background-color: red;
    margin: 0 auto;
    aspect-ratio: 18/9;
}

.carousel-on {
    height: 100%;
    width: 100%;
    position: relative;
}

.carousel-img {
    position: absolute;
    opacity: 0;
}

.carousel-img.active {
    opacity: 1;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnails-container {
    background-color: blue;
    width: 30%;
    height: 100%;
}

.thumbnail {
    height: calc(100% / 5);
}

.carousel-btn {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.my-btn {
    border-radius: 50%;
    background-color: lightgray;
}
